.App {
  text-align: center;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.CardList {
  column-gap: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  margin-top: 30px;
  row-gap: 30px;
}

.Card {
  border: 1px solid #000;
  padding: 0 0 1rem 0;
  z-index: 100;
}
.selected {
  background-color: #ccc;
}

.button {
  color: white;
  padding: 0.5rem 1rem;
  background-color: black;
  border: none;
  border-radius: 3px;
}

.button:focus {
  outline: none;
}

.right-button {
  margin-left: 1rem;
}

.search {
  height: 0.5rem;
  padding: 0.6rem;
}

img {
  height: 450px;
  width: 298px;
}

button:disabled {
  background-color: #666;
  color: #ccc;
  cursor: not-allowed;
}
